<div class="boost-console">
    <div class="console-caption">
        <div class="caption-control">
            <span class="control-close"></span>
            <span class="control-min"></span>
        </div>
        <div class="caption-title">boost-console</div>
    </div>
    <div class="display-wrapper">
    </div>
    <div class="console-wrapper">
        <input type="text" class="console-input" name="command"/>
    </div>
</div>