<div class="loading-wrapper">
    <div class="loading-overlay"></div>
    <div class="loading-title animated fadeInDown">boostConsole
        <div class="loading-subtitle">loading ...</div>
    </div>
</div>